<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %green{%d{yyyy-MM-dd HH:mm:ss}} %highlight{%-5p} %magenta{%c{1}}:%green{%L} - %m%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Rolling File Appender -->

        <RollingFile name="FileAppender" fileName="/opt/application-logs/applicationlogs-info.log"
                     filePattern="/opt/application-logs/applicationlogs-info-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
    </Appenders>
    
    <!-- <include resource="org/springframework/boot/logging/logback/base.xml" /> -->
	<logger name="org.springframework" level="ERROR"/>

    <Loggers>
        <Logger name="com.payswiff.mfmsproject" level="info"
                     additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Logger>
        
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>